<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:library.sqlite?foreign_keys=on;</property>

        <property name="hibernate.hbm2ddl.auto">none</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <mapping resource="hibernate/Address.hbm.xml"/>
        <mapping resource="hibernate/Subscriber.hbm.xml"/>
        <mapping resource="hibernate/Book.hbm.xml"/>
        <mapping resource="hibernate/Librarian.hbm.xml"/>
        <mapping resource="hibernate/Borrow.hbm.xml"/>
    </session-factory>
</hibernate-configuration>